* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #001F5C;
}

header > h1 {
    margin: 50px;
    color: white;
}

nav {
    margin: 45px;
}

.link-nava {
    margin: 8px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.link-nava:hover {
    color: #1078D5;
}

.cadastrar {
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border: none; 
}

.cadastrar:hover {
    background-color: #1078D5;
    color: white;
}

#intro {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

#intro-descr > h1 {
    margin: 10px 7px 30px 0px;
    font-size: 60px;
}

#intro-descr > p {
    margin-left: 10px;
    margin-bottom: 3px;
    padding: 3px;
}